<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Spice up your web applications with types</title>

<meta name="description" content="Spice up your web applications with types">
<meta name="author" content="Aleš Najmann">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/reveal.css">
<link rel="stylesheet" href="n.css" id="theme">

<!-- Code syntax highlighting -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/css/zenburn.css">

<!-- Printing and PDF exports -->
<script>
var link = document.createElement('link');
link.rel = 'stylesheet';
link.type = 'text/css';
link.href = window.location.search.match( /print-pdf/gi ) ? 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/print/pdf.css' : 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/print/paper.css';
document.getElementsByTagName('head')[0].appendChild(link);
</script>

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/js/html5shiv.js"></script>
<![endif]-->
</head>

<body>

<div class="reveal">

<div class="slides">
<section>
<h1>Angular 2</h1>
<img src="https://angular.io/resources/images/logos/angular2/angular.svg" width="280" height="280">
<h2>in 30 minutes</h2>
<p>
Aleš Najmann<br>
<a href="mailto:ales.najmann@jumpshot.com?subject=Angular+2+in+30+minutes">ales.najmann@jumpshot.com</a><br>
</p>
</section>

<section>
<h2>Building blocks</h2>
<ul>
<li>Components</li>
<li>Services</li>
<li>Dependency Injection</li>
<li>Directives</li>
<li>Modules</li>
<li>Routing</li>
<li>Pipes</li>
</ul>
</section>

<section>

<section>
<h2>Components</h2>
<p>
Components are marked with <code>@Component</code> decorator which contains additional metadata
</p>
<p>
The metadata tells Angular where to get the major building blocks you specify for the component.
</p>
<pre><code data-trim>
@Component({
  selector: 'simple-button',
  template: `<button class="nice"></button>`,
  styles: [...]
})
export class SimpleButton {
  constructor() {}
  // methods
} 
</code></pre>
</section>

<section>
<h2>Template</h2>
<p>
</p>
<pre><code data-trim>
&lt;p&gt;&lt;i&gt;Pick a hero from the list&lt;/i&gt;&lt;/p&gt;
&lt;ul&gt;
  &lt;li *ngFor=&quot;let hero of heroes&quot; (click)=&quot;selectHero(hero)&quot;&gt;
    {{hero.name}}
  &lt;/li&gt;
&lt;/ul&gt;
&lt;hero-detail *ngIf=&quot;selectedHero&quot; [hero]=&quot;selectedHero&quot;&gt;&lt;/hero-detail&gt;
</code></pre>
</section>

<section>
<h2>Data binding</h2>
<img src="https://angular.io/resources/images/devguide/architecture/databinding.png">
<p>What does it even mean?</p>
</section>

<section>
<h2>Data binding cont.</h2>
<ul>
	<li>Interpolation: <code>{{obj.name}}</code></li>
	<li>Property binding: <code>[member]</code></li>
	<li>Event binding: <code>(click)="pickOne(data)"</code></li>
	<li>Two-way binding: <code>[(banana)]</code></li>
</ul>
</section>
</section>

<section>
<section>
<h2>Services</h2>
<p>Reusable business logic</p>
<p>Almost anything can be a service. A service is typically a class with a narrow, well-defined purpose.</p>
<p>Decorated with <code>@Injectable()</code> decorator to participate in Dependency injection</p>
</section>

<section>
<h2>Service example</h2>
<pre><code data-trim>
@Injectable()
export class SuperService {
  doTrick() {...}
  doAnotherTrick(a: number, b: number) {...}
}
</code></pre>
</section>
</section>

<section>
<section>
<h2>Dependency Injection</h2>
<img src="injection.jpg">
</section>

<section>
<h2>Dependency injection</h2>
<pre><code data-trim>
@Component({
  selector: 'time-picker', template: '<div></div>',
  providers: [TimePickerService]
})
export class TimePicker {
  constructor(private service: TimePickerService)
  //                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  ngOnInit() { this.service.pick(); }
  //           ^^^^^^^^^^^^^^^^^^^ use dependency       
}

@Injectable()
export class TimePickerService {	
  pick() {...}
}
</code></pre>
</section>

<section>
<h2>Dependency injection</h2>
<pre><code data-trim>
@Injectable()
export class TimePickerService {
  constructor(private conversion: ConversionService) {}	
  pick() { this.conversion.convert(10); }
}

@Injectable()
export class ConversionService {
  constructor() {...}
  convert(a: number): string {...}
}
</code></pre>
</section>

</section>

<section>
<section>
<h2>Directives</h2>
<p>
Transform the DOM based on given instructions. 
</p>
<ul>
<li>structural directives</li>
<li>attribute directives</li>
</ul>
</section>

<section>
<h2>Structural directives</h2>
<p>they alter layout by adding, removing, and replacing elements in DOM.</p>
<pre><code data-trim>
&lt;li *ngFor=&quot;let hero of heroes&quot;&gt;&lt;/li&gt;
&lt;hero-detail *ngIf=&quot;selectedHero&quot;&gt;&lt;/hero-detail&gt;
</code></pre>
</section>

<section>
<h2>Attribute directives</h2>
<p>they alter the appearance or behavior of an existing element. 
In templates they look like regular HTML attributes, hence the name.</p>
<ul>
<li>ngStyle</li>
<li>ngClass</li>
<li>ngSwitch</li>
<li>ngForm</li>
</ul>
<pre><code data-trim>
<div [style.color]="isSpecial ? 'red' : 'green'">Signal</div>
<div [class.disabled]="isDisabled">Disable me</div>
</code></pre>
<a href="https://angular.io/docs/ts/latest/guide/template-syntax.html#!#directives">Builtin directives<sup>*</sup></a>
</section>

<section>
<h2>ngForm</h2>
<p>Equals roughly to</p>
<pre><code data-trim>
&lt;input
  [ngModel]="firstName"
  (ngModelChange)="firstName = $event"&gt;
</code></pre>
<p>
Only works for specific form elements
</p>
</section>
</section>

<section>
<h2>Modules</h2>
<pre><code data-trim>
@NgModule({
  imports: [ BrowserModule ],
  declarations: [ AppComponent ],
  bootstrap: [ AppComponent ],
  providers: [ AppService ]
})
export class AppModule {}
</code></pre>
</section>

<section>
<h2>Routing</h2>
<p>Routing</p>
<pre><code data-trim>
const appRoutes: Routes = [
  { path: 'hero/:id', component: HeroDetailComponent },
  { path: 'crisis-center', component: CrisisListComponent },
  {
    path: 'heroes',
    component: HeroListComponent,
    data: {
      title: 'Heroes List'
    }
  },
  { path: '', component: HomeComponent },
  { path: '**', component: PageNotFoundComponent }
];

@NgModule({
  imports: [ ...
    RouterModule.forRoot(appRoutes)	  
  ]
})
</code></pre>
</section>

<section>
<h2>Pipes</h2>
<p>What is pipe?</p>
<pre><code data-trim>
<p>The hero's birthday is {{ birthday | date:"MM/dd/yy" }} </p>
</code></pre>
</section>

<section>
<h2>Q &amp; A</h2>
</section>

<section>
<h2>References</h2>
<ul>
<li><a href="https://angular.io">angular.io</a></li>
</ul>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/js/head.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/js/reveal.js"></script>

<script>
// Full list of configuration options available at:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({
	controls: true,
	progress: true,
	history: true,
	center: true,
	transition: 'slide', // none/fade/slide/convex/concave/zoom
	// Optional reveal.js plugins
	dependencies: [
		{ src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/js/classList.js', condition: function() { return !document.body.classList; } },
		{ src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		{ src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
		{ src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
		{ src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/zoom-js/zoom.js', async: true },
		{ src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/notes/notes.js', async: true }
	]
});
</script>

</body>
</html>
